[id^="err"] {
  color: red;
  font-size: small;
}

[id^="btn"] {
  font-family: "Roboto";
  font-weight: bold;
  font-size: medium;
}

#fldPackages {
  width: 250px;
}

body {
  color: #e0e1e1;
  font-family: "Roboto";
  font-weight: 800;
}

.flex-container {
  background-color: #2d3142;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

input {
  border-radius: 5px;
  outline: none;
  border: none;
}

.header,
.inputs,
.inputs2,
.footer {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.header {
  background-color: #ef8354;
  text-align: center;
}

.inputs {
  padding: 10px;
  background-color: #4f5d75;
}

.inputs2 {
  background-color: #4f5d75;
}

.out {
  background-color: #ffffff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  color: #000000;
}

.footer {
  background-color: #ef8354;
  text-align: center;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}
